<h1>Edit Product</h1>

<%= form_for :product, url: product_path(@product), method: :patch do |f| %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.submit :Update %>
    </p>
<% end %>